header{
    display: flex;
    align-items: center;
    width: 100%;
    background:black;
    margin: auto;
 }
 header ul{
     display: flex;
     margin: 0 auto;
     padding: 0px;
     color:#ffff;
 }
 header li{
     list-style: none;
     cursor: pointer;
     margin: 3%;
 }